.popular--wrapper
	display: flex
	flex-direction: column
	align-content: center
	justify-content: space-between
	flex: 1

	.text
		display: flex
		flex-direction: column

		h1
			font-size: 1.5rem

		h2 
			font-size: 1rem

	.loader--wrapper
		height: 150px    // hard coupled in code (Popular/Popular.jsx line 56 
		width: 150px

		.Masas-loader-container
			position: relative

			.Masas-loader-infinity, .Masas-loader-gif
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0

	.button--wrapper
