.pick-time-sc-sync
	display: flex
	flex-direction: column
	flex: 1
	width: 80%
	align-items: center
	justify-content: space-around
	max-height: 30rem

.pick-time-sc-sync
	.artwork
		height: 10rem
		width: 10rem

	.song-title
		font-family: Lato-Semibold
		font-size: 1.5rem

	.checkbox--wrapper
		display: flex
		justify-content: space-between
		width: 100%
		font-size: 1.5rem

	.checkbox--wrapper
		.line
			display: flex
			flex-direction: column
			justify-content: space-between

		.column
			display: flex
			flex-direction: column