.pick-time-sc-sync
	display: flex
	flex-direction: column
	flex: 1
	width: 80%
	align-items: center
	justify-content: space-between
	padding: 2rem 0

.pick-time-sc-sync
	.artwork
		height: 8rem
		width: 8rem
		background-color: black
		border: 2px solid white

	.song-title
		font-family: Lato-Semibold
		font-size: 1.2rem
		text-align: center
		width: 80%

	.pickTime--wrapper
		height: 140px
		width: 300px

	.question-text
		font-size: 1.02rem
		letter-spacing: 0.18rem
		text-transform: uppercase
		display: flex
		font-family: Lato-Semibold
		text-align: center

	// .checkbox--wrapper
	// 	display: flex
	// 	justify-content: space-between
	// 	width: 100%
	// 	font-size: 1.5rem
	// 	min-height: 6rem
	// 	max-width: 16.5rem

	// .checkbox--wrapper
	// 	.line
	// 		display: flex
	// 		flex-direction: column
	// 		justify-content: space-between

	// 	.column
	// 		display: flex
	// 		flex-direction: column
	// 		justify-content: space-between

	// 	.column
	// 		.radioButton-label
	// 			margin-left: 1rem

	.button--wrapper
		width: 80%
		display: flex
		flex-direction: column
		min-height: 5.5rem
		justify-content: center
		align-items: center

	.button--wrapper
		.submit
			font-size: 1.1rem

		.cancel-button
			visibility: hidden

@media screen and (min-width: $desktop-min-width)
	.pick-time-sc-sync
		padding-top: 1.5rem

	.pick-time-sc-sync
		.artwork
			width: 6rem
			height: 6rem
		.song-title
			font-size: 0.9rem

		.pickTime--wrapper
			height: 200px
			width: 400px

		// .checkbox--wrapper
		// 	min-height: 4rem
		// 	max-width: 15rem

		// .checkbox--wrapper
		// 	.line


		// 	.column


		// 	.column
		// 		.radioButton-label
		// 			font-size: 1rem
		// 			margin-left: 0.4rem

		.button--wrapper
			width: 7rem
			min-height: 4.5rem

		.button--wrapper
			.submit
				font-size: 0.8rem
				width: 9rem

			.cancel-button
				visibility: visible


