.pick-time-sc-sync
	display: flex
	flex-direction: column
	flex: 1
	width: 80%
	align-items: center
	justify-content: space-between
	padding: 2rem 0

.pick-time-sc-sync
	.song-name--wrapper
		display: flex
		justify-content: center 
		flex-direction: column
		width: 80%
		align-items: center

		.artwork
			height: 8rem
			width: 8rem
			background-color: black
			border: 2px solid white
			margin-bottom: 1rem

		.song-title
			font-family: Lato-Semibold
			font-size: 1.2rem
			text-align: center
			width: 80%
			display: flex
			align-items: center

	.pickTime--wrapper
		height: 140px
		width: 300px

		.timePicker-slider--wrapper
			bottom: 1.5rem

	.question-text
		font-size: 1.02rem
		letter-spacing: 0.18rem
		text-transform: uppercase
		display: flex
		font-family: Lato-Semibold
		text-align: center


	.button--wrapper
		width: 80%
		display: flex
		flex-direction: column
		min-height: 5.5rem
		justify-content: center
		align-items: center

	.button--wrapper
		.submit
			font-size: 1.1rem

		.cancel-button
			visibility: hidden
			font-size: 0.8rem
			opacity: 0.5
			margin-top: 0.8rem

@media screen and (min-width: $desktop-min-width)
	.pick-time-sc-sync
		padding-top: 1.5rem

	.pick-time-sc-sync
		.song-name--wrapper
			flex-direction: row
			width: 60%

			.artwork
				width: 6rem
				height: 6rem
				margin-bottom: 0
				margin-right: 1rem

			.song-title
				font-size: 0.9rem

		.pickTime--wrapper
			height: 155px
			width: 400px

			.timePicker-slider--wrapper
				bottom: 0rem


		.button--wrapper
			width: 7rem
			min-height: 4.5rem

		.button--wrapper
			.submit
				font-size: 0.8rem
				width: 9rem

			.cancel-button
				visibility: visible



