.teach-modal--wrapper
	padding: 0 2rem

	// .tip-text
	// 	min-height: 7rem

	.title
		min-height: 2rem
		font-family: Lato-Semibold
		margin-bottom: 0.5rem

	.paragraph
		min-height: 5rem
		display: flex
		align-items: center

	$timePickerWidth: 220px
	$timePickerHeight: 85px
	.teach-modal-pickTime--wrapper
		display: flex
		width: $timePickerWidth !important
		height: $timePickerHeight !important
		padding-bottom: 1rem

		#teach-modal-pickTime--canvas
			width: $timePickerWidth !important
			height: $timePickerHeight !important


@media screen and (min-width: $desktop-min-width)
	.teach-modal--wrapper
		padding: 0

		$timePickerWidth: 300px
		$timePickerHeight: 100px
		.teach-modal-pickTime--wrapper
			width: $timePickerWidth !important
			height: $timePickerHeight !important

			#teach-modal-pickTime--canvas
				width: $timePickerWidth !important
				height: $timePickerHeight !important