.invitation-pending--wrapper
	display:  flex
	flex: 1
	flex-direction: column
	align-items: center
	justify-content: space-around
	padding: 2rem 1rem

	img
		width: 8rem

	h2
		font-family: Anders, sans-serif
		font-size: 1.3rem

	p
		text-align: justify
		padding: 0 2.5rem