@import "./HomeCountdown"

.home--wrapper
	width: 100%
	// max-width: 20rem
	flex: 1
	display: flex
	align-items: center
	justify-content: space-around
	flex-direction: column
	margin: 0.7rem 28px			// margin same as hamburger menu
	position: relative

	.page-up--wrapper
		display: flex
		justify-content: center
		align-items: center
		height: 3rem
		width: 100%
		z-index: 2
		transform: rotate(180deg)

		img
			height: 0.8rem

	.page-down--wrapper
		display: flex
		justify-content: center
		align-items: center
		height: 3rem
		width: 100%
		z-index: 2

		img
			height: 0.8rem

	// h1
	// 	font-family: Lato-Semibold
	// 	text-transform: uppercase
	// 	letter-spacing: 8px
	// 	font-size: 1.8rem

	.multiPage--wrapper
		overflow: hidden
		display: flex
		flex: 1
		flex-direction: column
		position: relative
		width: 100%

	.multiPage--wrapper
		.title
			width: 100%
			display: flex
			justify-content: center

			h1
				font-family: Lato-Semibold
				font-size: 1.3rem
				border-bottom: 1px solid white
				padding-bottom: 1.2rem
				margin-bottom: 2rem
				text-transform: uppercase
				letter-spacing: 0.35rem
				width: min-content
				white-space: pre

		p
			font-size: 0.85rem
			text-align: justify
			padding-bottom: 2rem
			line-height: 1.1rem
			width: 80%

		.page1--wrapper, .page2--wrapper
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0

		.page1--wrapper
			opacity: 1
			z-index: 1
			align-items: center

		.page2--wrapper
			opacity: 0
			z-index: -1

		#homepage-login
			display: flex
			flex-direction: column
			align-items: center
			flex: 1
			position: relative
			justify-content: space-between
			margin-top: 20%
			padding-bottom: 2rem

			.unsplash-artist
				display: flex
				position: absolute
				bottom: 0
				left: 0
				padding: 1rem 1.7rem

				a
					text-transform: uppercase
					font-family: Lato-Semibold
					font-size: 0.6rem
					letter-spacing: 0.2rem
					opacity: 0

				a:hover
					opacity: 0

			.arrow-icon
				height: 2rem
				// padding-top: 3rem
				// padding-bottom: 1.8rem 				// account for margins lost to position down arrow lower on the page
				animation: Floating 3s infinite ease-in-out
				cursor: pointer

			.logo
				display: flex
				flex: 1
				width: 100%
				display: flex
				// flex: 1
				// padding-bottom: 2.5rem
				height: -webkit-min-content
				height: min-content
				justify-content: center
				min-height: 1rem		// apparently fixes bug in chrome (hovering login button caused logo to get smaller)

			// .login-container
			// 	width: 100%
			// 	max-width: 20rem
			// 	display: flex
			// 	flex-direction: column
			// 	height: 6rem
			// 	justify-content: space-around
			// 	align-items: center
			// 	height: 5rem
			// 	font-size: 0.85rem
			// 	letter-spacing: 0.1rem

			.login-container
				display: none
				.signup-text
					color: white
					align-self: center

		.homepage-description
			display: flex
			flex: 1

			.text--wrapper
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				justify-content: space-between

				.image--wrapper
					img
						height: 6rem
						padding-bottom: 1rem

				.side-content
					display: flex
					flex-direction: column
					align-items: center

					.button
						min-width: 12rem
						width: 100%
						display: flex
						justify-content: center

		// #homepage-description--musicLover
		// 	display: flex
		// 	flex: 1
		// 	max-width: 62rem
		// 	color: black

		// 	h1
		// 		color: black
		// 		border-bottom: 1px solid black

		// 	.text--wrapper
		// 		display: flex
		// 		flex-direction: column
		// 		align-items: center
		// 		justify-content: center
		// 		justify-content: space-between
		// 		align-items: flex-start

		// 		img
		// 			width: 70%

		// 		.button
		// 			min-width: 12rem
		// 			width: 100%

		// #homepage-description--developpers
		// 	display: flex
		// 	overflow: auto
		// 	flex: 1

		// 	.scroll--wrapper
		// 		// min-height: min-content
		// 		display: flex
		// 		flex-direction: column
		// 		justify-content: space-between

		// 		.founders-info--wrapper
		// 			display: flex
		// 			flex-wrap: wrap
		// 			justify-content: space-around
		// 			align-items: center
		// 			flex: 1

		// 			.founder-info--wrapper
		// 				display: flex
		// 				flex-direction: column
		// 				align-items: center

		// 				img
		// 					width: 4.5rem
		// 					margin-bottom: 1.5rem

		// 				.text--wrapper
		// 					display: flex
		// 					flex-direction: column
		// 					align-content: center
		// 					align-items: center

		// 					.founder-name--wrapper
		// 						width: min-content
		// 						display: flex
		// 						flex-direction: row
		// 						justify-content: space-around

		// 						.name1, .name2, .job
		// 							text-align: center

		// 						.name1, .name2
		// 							text-transform: uppercase
		// 							font-size: 0.6rem
		// 							letter-spacing: 0.1rem

		// 						.name1
		// 							padding-right: 0.5rem

		// 						.name2
		// 							white-space: pre

		// 					hr
		// 						width: 100%

		// 					.job
		// 						opacity: 0.3
		// 						font-size: 0.7rem

		// 		.description
		// 			text-align: center
		// 			padding: 2rem 0

		// 		.social-buttons
		// 			display: flex
		// 			justify-content: space-between
		// 			margin-bottom: 1.5rem
		// 			width: 100%

		// 			.twitter, .facebook
		// 				padding: 0.55rem

		// 			.twitter
		// 				background-color: rgb(93,168, 220)

		// 			.twitter::before
		// 				background-image: url("/static/img/twitter.svg")
		// 				content: ""

		// 			.facebook
		// 				background-color: rgb(72,90,150)

		// 			.facebook::before
		// 				content: ""
		// 				background-image: url("/static/img/twitter.svg")


@media screen and (min-width: $desktop-min-width)
	.home--wrapper
		margin: 0.7rem 0

		.page-up--wrapper
			img

		.page-down--wrapper
			img

		.multiPage--wrapper


		.multiPage--wrapper
			h1


			p


			.page1--wrapper, .page2--wrapper




			.page2--wrapper


			#homepage-login
				padding-top: 5rem
				// padding-bottom: 5rem
				margin-top: 0				// because margin needed on phone and padding used here (so it doesn't add up)

				.arrow-icon


				.logo


				.login-container
					display: flex

				.login-container
					.signup-text

				.unsplash-artist
					a
						opacity: 0.5
					a:hover
						opacity: 1

			.homepage-description
				padding: 0 15rem

				.title
					width: inherit
					h1
						font-size: 1.8rem

				.text--wrapper
					flex-direction: row

					.image--wrapper
						display: flex
						flex: 1
						justify-content: flex-end

						img
							height: 16rem
							padding: 0

					.side-content
						align-items: flex-start
						padding-left: 7rem
						flex: 1

						p
							width: 100%

			#homepage-description--musicLover
				.text--wrapper
					flex-direction: row-reverse

					.side-content
						padding-left: 0
						padding-right: 7rem
