@keyframes buffering
	0%
		left: -200%
	
	100%
		left: 0%

@keyframes ajaxLoaderAnimation
	0%
		left: -200%
	
	100%
		left: 0%

@keyframes fadein 
	from 
		opacity: 0
	25%
		opacity: 1
	75%
		opacity: 1
	to   
		opacity: 0