@keyframes buffering
	0%
		left: -200%
	
	100%
		left: 0%

@keyframes ajaxLoaderAnimation
	0%
		left: -200%
	
	100%
		left: 0%

@keyframes fadein 
	from 
		top: 0
		opacity: 0
	25%
		opacity: 1
	75%
		opacity: 1
	to   
		opacity: 0
		top: 0

@keyframes fadein2
	from 
		top: 0
		opacity: 0
	25%
		opacity: 1
	75%
		opacity: 1
	to   
		opacity: 1
		top: 1

@keyframes fadein-menu
	from 
		opacity: 0
	25%
		opacity: 0
	75%
		opacity: 1
	to   
		opacity: 1

@keyframes fadeout
	from 
		z-index: 4
		opacity: 1
	25%
		opacity: 0
	75%
		opacity: 0
	to   
		opacity: 0
		z-index: 4

@keyframes fadeout-modal
	from 
		z-index: 4
		opacity: 1
	to   
		opacity: 0
		z-index: 4

@keyframes fadeout-loading-modal
	from 
		z-index: 100
		opacity: 1
	to   
		opacity: 0
		z-index: 100

@keyframes fadein-modal
	from 
		opacity: 0
	to   
		opacity: 1


@keyframes center-play-button
	from 
		right: 2rem
	to   
		right: 50%
		
