$desktop-min-width: 992px
$desktop-footer-height: 2.6rem
$phone-footer-height: 4rem

$desktop-header-height: 4.2rem
$phone-header-height: 3rem

$phone-header-top-decoration: 0.8rem		// top decoration
$phone-header-top-decoration2: 0.3rem		// border on top of top decoration
$phone-header-height--total: $phone-header-height + $phone-header-top-decoration + $phone-header-top-decoration2

// ==== UI ==== //

// SLIDER
$track-color: #FFF
$thumb-color: #FFF

$thumb-radius: 6px
$thumb-height: 12px
$thumb-width: 12px
$thumb-shadow-size: 2px
$thumb-shadow-blur: 4px
$thumb-shadow-color: #111
$thumb-border-width: 1px
$thumb-border-color: #fff

$track-width: 100%
$track-height: 3px
$track-shadow-size: 4px
$track-shadow-blur: 4px
$track-shadow-color: rgba(0,0,0,0)
$track-border-width: 0px
$track-border-color: #000

$track-radius: 1.5px
$contrast: 5%