.likes-scroll--wrapper
	overflow-y: scroll
	-webkit-overflow-scrolling: touch

.likes--wrapper
	display: flex
	flex: 1
	flex-direction: column
	width: 100%
	flex-wrap: nowrap
	background-color: rgb(0,0,43)

@media screen and (min-width: $desktop-min-width)
	.likes--wrapper
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between	
		background-color: rgba(0,0,0,0)