.navSidebar--wrapper
	width: 15rem
	display: flex
	flex-direction: column
	justify-content: space-between
	height: 100%
	// background: linear-gradient( 0deg, rgb(46,17,54), rgb(22,11,57), rgb(12,16,70), rgb(0,1,57), rgb(0,0,53) )
	background-color: #0A0A0A

.navSidebar--wrapper
	.content
		flex: 1
		display: flex
		flex-direction: column
		justify-content: space-between
		width: 90%
		align-self: center

	.content
		.nav-links
			display: flex
			flex-direction: column
			align-items: center
			height: 15rem
			text-transform: capitalize
			width: 10rem
			align-self: center
			flex: 1
			justify-content: center
			letter-spacing: 0.05rem
			font-family: Lato-Light

		.nav-links
			.link
				align-self: flex-start
				padding-bottom: 1.9rem
				padding-left: 1.8rem

			.link
				.MASAS-link
					display: flex
					flex-direction: row
					height: 2rem

				.MASAS-link
					img
						width: 2rem
						padding-right: 0.5rem

					span
						align-self: center

	.profile-picture--wrapper
		display: flex
		flex-direction: column
		position: relative
		cursor: pointer

	.profile-picture--wrapper
		.username
			position: absolute
			bottom: 0
			font-size: 1.5rem
			letter-spacing: 0.1rem
			padding-bottom: 1rem
			padding-left: 2rem

		.profile-picture
			object-fit: cover
			height: 10rem

	.navSidebar-footer
		display: flex
		justify-content: space-between
		font-size: 0.8rem
		font-family: Lato-Semibold
		margin: 1rem 0.5rem

