.profile-edit--wrapper
	padding: 0.5rem 2rem

	.personal-info
		display: flex
		flex-direction: column
		width: 80%

		#stage-name
			height: 2rem
			font-size: 2rem

		#city, #occupation
			width: 80%