.links-edit--wrapper
	display: flex
	flex-direction: column
	padding-bottom: 1rem

	.link-edit
		display: flex
		margin-top: 1rem

		img
			height: 1.3rem
			width: 1.3rem
			padding-right: 1rem

		// overwritting UI.Textbox
		.MASAS-textbox .MASAS-text-input
			margin: 0