.profile--wrapper
	.track--wrapper
		display: flex
		width: 100%
		min-height: 8rem
		height: 8rem

	.track--wrapper:nth-of-type(odd)
		background-color: rgba(0,0,0, 0.4)

	.track--wrapper
		.artwork--wrapper
			position: relative
			cursor: pointer
			background-color: black
			height: 8rem
			width: 8rem

		.artwork--wrapper
			.artwork
				width: 8rem
				object-fit: cover
				z-index: 0

			.artwork-overlay
				align-items: center
				justify-content: center
				display: none
				background-color: rgba(0,0,0,0.5)
				position: absolute
				height: 8rem
				width: 8rem
				z-index: 1
				top: 0

			.artwork-overlay
				img
					height: 3rem
					width: 3rem

		.song-info--wrapper
			display: flex
			flex-direction: column
			flex: 1
			padding: 1.5rem 0.9rem

		.song-info--wrapper
			.song-stats-1
				display: flex
				flex: 1
				justify-content: space-between

			.song-stats-1
				.song-name

				.lives-left
					img
						width: 1.2rem
			.song-stats-2
				display: flex
				flex: 1
				justify-content: space-between
				align-items: flex-end

			.song-stats-2
				font-size: 0.9rem
				color: rgba(255,255,255,1)

				.title
					font-size: 0.7rem
					color: rgba(255,255,255,0.5)

				.plays
					.play-count-icon
						width: 1.2rem

@media screen and (min-width: $desktop-min-width)
	.profile--wrapper
		.track--wrapper:nth-of-type(odd)
			background-color: rgba(255,255,255, 0.16)

		.track--wrapper
			.artwork--wrapper:hover
				.artwork-overlay
					display: flex

			.song-info--wrapper
				flex-direction: row

			.song-info--wrapper
				.song-stats-1
					align-items: center
					justify-content: space-around
					flex-direction: row-reverse

				.song-stats-1
					.lives-left
						min-width: 5rem
						display: flex
						align-items: center
						justify-content: center

					.song-name
						flex: 1

				.song-stats-2
					align-items: center					
					justify-content: space-around