.splash-screen--wrapper
	@import "./Swiper"

	$padding-top: 4rem
	display: flex
	flex: 1
	height: calc(100% - 2 * #{$padding-top})
	justify-content: space-between
	padding: $padding-top 4rem
	align-items: center
	background-image: url(https://hd.unsplash.com/photo-1453791052107-5c843da62d97)
	background-size: cover
	position: relative

	&::before
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background-color: black
		opacity: 0.3
		transition: opacity 1s linear
		content: ''

	&.login::before
		opacity: 0.5

	&.legals::before
		opacity: 0.7

	.main-swiper-container
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		height: 60%
		width: 80%
		max-width: 60rem
		max-height: 40rem

		.first-slide
			display: flex
			justify-content: space-between

			img
				height: 70%
				z-index: 2

			.main-content
				flex: 0.7
				display: flex
				flex-direction: column
				justify-content: space-between
				height: 100%
				z-index: 2

				h1
					font-family: Anders
					font-size: 2rem
					border-bottom: 0.5rem solid rgba(255,255,255,0.5)
					padding-bottom: 1rem
					display: table
					margin-left: auto
					margin-right: auto

				.hashtag-swiper-container
					width: 500px
					height: 300px
					margin: 20px auto

				.login-buttons--wrapper
					display: flex
					justify-content: space-around

		.second-slide
			.masas-logo
				height: 15rem

			.login-content
				z-index: -2
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				display: flex
				align-items: center
				justify-content: space-between
				flex-direction: column

				.MASAS-button.no-borders
					font-size: 0.9rem
					opacity: 0.8

			.terms-paragraph
				cursor: pointer
				font-size: 0.9rem	

		.third-slide
			display: flex
			flex-direction: column
			justify-content: space-around

			.MASAS-button
				margin-top: 1rem

			.text--wrapper
				display: flex
				flex-direction: column
				justify-content: flex-start

				.logo
					height: 6rem
					padding-bottom: 3rem

				.legal-links--wrapper
					max-height: 14rem
					font-size: 0.8rem
					align-items: flex-start

					.legal-links
						padding-bottom: 1rem

				p
					font-size: 1rem
					padding-bottom: 2rem


