{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MASAS - Make A Sound And Share</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=yes">
    <meta name="description" content="MASAS - Make A Sound And Share">
    <meta name="author" content="MASAS">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <!-- styles -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sass.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" />

    <script src="//cdn.ravenjs.com/1.1.19/jquery,native/raven.min.js"></script>

    <script type="text/javascript">
{% if settings.RAVEN_JS_DSN %}
Raven.config('{{ settings.RAVEN_JS_DSN }}', {
    // pass along the version of your application
    // release: '1.0.0',

    // we highly recommend restricting exceptions to a domain in order to filter out clutter
        whitelistUrls: [
            {% for host in settings.ALLOWED_HOSTS %}
            '{{ host }}'{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
}).install();

{%  if request.user.is_authenticated %}
Raven.setUserContext({
    email: '{{ request.user.email }}',
    id: '{{ request.user.pk }}',
});
{%  endif %}
{% endif %}

document.MASAS = {
    SC: {
        client_id: '{{ settings.SOUNDCLOUD.CLIENT_ID }}',
        redirect_uri: '{{ settings.SOUNDCLOUD.REDIRECT_URI }}',
        tracks_uri: '{{ settings.SOUNDCLOUD.FETCH_URI }}',
    },
    FB: {
        appId: '{{ settings.FB.KEY }}',
    },
}
    </script>

    <script type="text/javascript" src="{% static "js/facebookSDK.js" %}"></script>

  </head>
  <body>
    
    <input type="hidden" name="next" value="{{ next }}" />
    {% block content %}{% endblock %}

    <!-- JavaScript scripts -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script> -->
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jplayer.js" %}"></script>
    <script type="text/javascript" src="{% static "js/paper-full.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bundle.js" %}"></script>
  </body>
</html>
