{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Oh shit! Word?! Shit you care about but probably shouldn't.">
    <meta name="author" content="Oh shit! Word?!">

    <!-- styles -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sass.css' %}" />

    <script type="text/javascript">
document.MASAS = {
    SC: {
        client_id: '{{ settings.SOUNDCLOUD.CLIENT_ID }}',
        redirect_uri: '{{ settings.SOUNDCLOUD.REDIRECT_URI }}',
    },
    FB: {
        appId: '{{ settings.FB.KEY }}',
    },
}
    </script>

    <script type="text/javascript" src="{% static "js/facebookSDK.js" %}"></script>

  </head>
  <body>
    <input type="hidden" name="next" value="{{ next }}" />
    {% block content %}{% endblock %}

    <!-- JavaScript scripts -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script> -->
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jplayer.js" %}"></script>
    <script type="text/javascript" src="{% static "js/paper-full.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bundle.js" %}"></script>
  </body>
</html>
