.MASAS-button
	font-size: 1.1rem
	width: 10rem
	padding: 0.7rem 0
	font-family: Lato-Light
	display: flex
	text-align: center
	cursor: pointer
	background-color: white
	color: black

.MASAS-button.MASAS-big-button
	width: 15rem

.MASAS-button:active
	font-family: Lato-Regular

.MASAS-button.secondary-button
	border: 1px solid
	background-color: rgba(0,0,0,0)
	color: white

.MASAS-button
	.wrapper
		align-self: center
		flex-grow: 1

	.small-button
		height: 1.5rem
