.teach-modal--wrapper
	display: flex
	flex-direction: column
	align-items: center
	
	p
		letter-spacing: 0.13rem
		font-size: 1.1rem
		max-width: 25rem
		margin-bottom: 2rem
		text-align: center
		line-height: 1.4
		font-family: Lato-Light

	.bold
		font-family: Lato-Semibold
		margin-bottom: 0.6rem


.teach-modal--wrapper.like-UI-info
	align-items: flex-start
	margin: 2rem 0

	p.paragraph1
		margin-bottom: 2rem

	p
		display: flex
		align-items: center
		flex-direction: column
		margin-bottom: 0
		align-self: center

		strong
			font-family: Lato-Semibold

		img
			width: 5rem
			margin: 0 0.9rem
			margin-bottom: 1rem

	.MASAS-button
		margin-bottom: 1rem
		font-family: Lato-Semibold

@media screen and (min-width: $desktop-min-width)
	.teach-modal--wrapper.like-UI-info
		left: 234px

		.MASAS-button
			margin-bottom: inherit
