.footer--wrapper
	.slider--wrapper.opened
		.player-controls--wrapper
			position: absolute
			right: 50%
			transform: translate(50%, 0%)

		#player-play-button
			padding-left: 0.8rem
			padding-right: 0.8rem
			
		.song-info--wrapper2
			animation: fadeout 0.5s linear
			opacity: 0

		.previous-song-icon
			opacity: 1

		.next-song-icon
			opacity: 1

.navbar-player--wrapper
	display: flex
	flex: 1
	align-items: center
	height: 100%
	padding: 0

	.tray-icon
		height: 1rem
		width: 1rem
		padding-right: 1rem

	.like-icon
		height: 1.5rem
		padding-left: 1rem
		padding-right: 1rem

	.song-info--wrapper1
		display: flex
		flex-direction: column
		align-content: flex-start
		flex: 1

		.song-info--wrapper2
			display: flex
			align-content: flex-start
			flex: 1
			animation: fadein-menu 0.5s linear

			.text-info
				display: flex
				flex: 1
				flex-direction: column
				max-width: 10rem

			.radio-info 
				position: relative
				width: 100%
				font-size: 0.7rem
				height: 0.7rem
				opacity: 0.4

				.time
					text-transform: uppercase

			.song-name
				margin-right: 1rem

				.song-artist
					position: relative
					width: 100%
					text-transform: uppercase
					font-size: 0.7rem
					font-family: Lato-Semibold
					width: 10rem
					height: 0.7rem

				.song-title
					position: relative
					width: 100%
					height: 0.7rem
					text-transform: uppercase
					font-size: 0.7rem
					font-family: Lato-Light

			.sc-icon
				display: flex
				flex: 1
				justify-content: center
				align-items: center

				img
					height: 1rem

	.player-controls--wrapper
		display: flex
		align-items: center
		position: absolute
		right: 0rem
		transition: 0.3s linear 
		transform: translate(0, 0%)

		.previous-song-icon
			transform: rotate(180deg)
			height: 1rem
			opacity: 0
			transition: opacity 0.3s linear

		.player-button
			height: 2.5rem

		.next-song-icon
			height: 1rem
			opacity: 0
			transition: opacity 0.3s linear




@media screen and (min-width: $desktop-min-width)
	.footer--wrapper
		.slider--wrapper.opened
			#player-play-button
				position: relative
				transform: translate(0,0)
				right: 0
				margin-right: 0rem
				padding-right: 0

			.song-info--wrapper2
				animation-name: none
				opacity: 1

			.player-controls--wrapper
				animation-name: none
				position: relative
				right: 0
				transform: translate(0%, 0%)

	.navbar-player--wrapper
		padding: 0

	.navbar-player--wrapper
		.song-info--wrapper
			.song-name
				.song-title
					// width: 20rem


		.tray-icon
			height: 0.6rem
			width: 0.6rem

		.like-icon
			height: 1rem

		.player-controls--wrapper
			transition: none
			position: relative

			.player-button
				height: 2rem
				transition: none
				position: relative
				right: 0
				padding-right: 0

			.previous-song-icon
				display: block

			.next-song-icon
				display: none

