.navbar-player--wrapper
	display: flex
	flex: 1
	align-items: center
	height: 100%
	padding: 0

.navbar-player--wrapper
	.tray-icon
		height: 1rem
		width: 1rem
		padding-right: 1rem

	.like-icon
		height: 1.5rem
		padding-left: 1rem
		padding-right: 1rem

	.song-info--wrapper
		display: flex
		flex-direction: column
		align-content: flex-start
		flex: 1

	.song-info--wrapper
		.radio-info 

		.radio-info
			font-size: 0.7rem
			opacity: 0.4

			.time
				text-transform: uppercase

		.song-name

		.song-name
			.song-artist
				text-transform: uppercase
				font-size: 0.7rem
				font-family: Lato-Semibold

			.song-title
				text-transform: uppercase
				font-size: 0.7rem
				font-family: Lato-Light

	.player-controls--wrapper
		.player-button
			height: 2.5rem
			padding-left: 1rem





@media screen and (min-width: $desktop-min-width)
	.navbar-player--wrapper
		padding: 0

	.navbar-player--wrapper
		.tray-icon
			height: 0.6rem
			width: 0.6rem

		.like-icon
			height: 1rem

		.player-controls--wrapper
			.player-button
				height: 2rem

