$opacity: 1
$R: 9
$G: 9
$B: 26

.footer--wrapper
	height: 3.5rem
	background-color: rgba($R, $G, $B, $opacity)
	min-height: 3.5rem
	max-height: 3.5rem


@media screen and (min-width: $desktop-min-width)
	$opacity: 0.7
	$R: 0
	$G: 0
	$B: 0
	
	.footer--wrapper
		background-color: rgba($R, $G, $B, $opacity)