@import "./playerSlider"
@import "./FooterModals"

$opacity: 0.8
$R: 0
$G: 0
$B: 0
$footerHeight: $phone-footer-height

.footer--wrapper
	position: relative
	height: $footerHeight
	// min-height: 3.5rem
	// max-height: 3.5rem
	position: relative
	z-index: 4			// for like button on sidebar overlay (for touch open siderbar but doesn't go history(-1) on mobile safari)

	@import "./UnsplashControls"

	.select-range
		height: 10px
		transform: translateY(-50%)
		position: absolute
		z-Index: 10
		width: 100%

	.slider--wrapper.opened
		top: -17rem
		bottom: 0rem

		.copyright
			animation: fadein-menu 1s linear

		.spam
			animation: fadein-menu 1.25s linear

		.suggest-time
			animation: fadein-menu 1.5s linear

		.no-like
			animation: fadein-menu 1.75s linear

	.slider--wrapper
		background-color: rgba($R, $G, $B, $opacity)
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: -15rem
		transition-property: top, bottom
		transition-duration: 0.3s
		transition-timing-function: ease-in

		.toogle-open-tray-icon
			display: none
			background-image: url('/static/img/MASAS_icon_dot.svg')
			transform: rotate(180deg)
			background-repeat: no-repeat
			height: 1.5rem
			width: 1.5rem
			background-size: contain
			background-position: center
			cursor: pointer

		.toogle-open-tray-icon.opened
			background-image: url('/static/img/MASAS_icon_close.svg')
			height: 14px
			width: 14px


		.visible--wrapper
			height: $footerHeight

			.buffer-info
				display: none
				align-items: center
				justify-content: center
				font-family: Lato-Light
				font-size: 0.7rem

			.playerProgressBar--wrapper
				// position: relative
				display: flex
				justify-content: flex-start
				width: 100vw
				height: 2px
				position: absolute
				top: 0
				left: 0

				.playerProgressBar
					display: flex
					background-color: white
					width: 0vw
					z-index: 2

				.bufferingBar--wrapper
					display: flex
					height: 2px
					flex: 1
					position: relative
					width: 100%

					.bufferingBar.buffering
						position: absolute
						width: 300%
						background: linear-gradient(45deg, white, rgba(0,0,0,0.5), white, rgba(0,0,0,0.5))
						height: 2px
						animation-name: buffering
						animation-duration: 1.5s
						animation-timing-function: linear
						animation-iteration-count: infinite

			img
				cursor: pointer

			.next-icon
				height: 1rem
				display: none

			.player--wrapper
				display: flex
				align-items: center
				padding-right: 0

			.extra-controls--wrapper
				display: flex
				flex-direction: row
				align-items: center
				padding-left: 0.8rem
				justify-content: flex-start

				.nextSong--wrapper
					display: flex

		.hidden--wrapper
			display: flex
			justify-content: center
			position: absolute
			top: $footerHeight
			bottom: 0
			right: 0
			left: 0
			align-items: center

			.dislike-choices--wrapper
				display: flex
				flex-direction: column
				align-items: flex-start
				width: 100%
				padding: 0 calc(14px + 1rem)

				hr
					width: 100%
					border: 0
					height: 0
					border-top: 1px solid rgba(0, 0, 0, 0.1)
					border-bottom: 1px solid rgba(255, 255, 255, 0.3)

				span
					font-size: 1.1rem
					position: relative
					display: flex
					height: 3rem
					align-items: center

				span:hover
					cursor: pointer

				span::before
					height: 1.5rem
					width: 1.5rem
					content: ""
					padding-right: calc(1rem + 14px)		// 1rem = padding-left on icon and 14px = padding-left on footer container
					background-repeat: no-repeat
					background-size: contain

				.spam::before
					background-image: url('/static/img/MASAS_icon_spam.svg')

				.copyright::before
					background-image: url('/static/img/MASAS_icon_copyright.svg')

				.suggest-time::before
					// background-image: url('/static/img/MASAS_icon_time.png')
					background-image: url('/static/img/MASAS_icon_changemood.svg')

				.no-like::before
					background-image: url('/static/img/MASAS_icon_dislike.svg')




@media screen and (min-width: $desktop-min-width)
	$opacity: 0.7
	$R: 0
	$G: 0
	$B: 0
	$footerHeight: $desktop-footer-height
	
	.footer--wrapper
		height: $footerHeight

		// .unsplash-artist
		// 	display: flex
		// 	position: absolute
		// 	bottom: $footerHeight
		// 	left: 0
		// 	padding: 1.7rem

		// 	a
		// 		text-transform: uppercase
		// 		font-family: Lato-Semibold
		// 		font-size: 0.6rem
		// 		letter-spacing: 0.2rem
		// 		opacity: 0.7

			a:hover
				opacity: 1

		.slider--wrapper
			background-color: rgba($R, $G, $B, $opacity)

		.slider--wrapper.opened
			top: -3rem

		.slider--wrapper
			bottom: -3rem

			.toogle-open-tray-icon
				display: block
				margin-left: 1.8rem

			.visible--wrapper
				height: $footerHeight

				.buffer-info
					display: flex
				.player--wrapper
					padding-right: 0.8rem

				.extra-controls--wrapper
					padding-left: 0

					.nextSong--wrapper

				.next-icon
					display: block


			.hidden--wrapper
				top: $footerHeight

				.dislike-choices--wrapper
					flex-direction: row
					align-items: center
					justify-content: center
					width: 80%
					justify-content: space-around
					padding: 0

					hr
						display: none

					span
						font-size: 0.8rem

					span::before
						padding-right: 0.8rem



// @-moz-keyframes buffering 
// 	100% 
// 		// moz-transform: translateX(-100%)
// 		left: 0
// 	0% 
// 		left: 100%

// @-webkit-keyframes buffering
// 	100%   
// 		// webkit-transform: translateX(-100%)
// 		left: 0
// 	0% 
// 		left: 100%

// @keyframes buffering
// 	100%   
// 		// $percent: -100%
// 		// -moz-transform: translateX($percent)			//FF bugfix
// 		// -webkit-transform: translateX($percent)		//FF bugfix
// 		// transform: translateX($percent)	
// 		left: -200%

// 	// 50%  
// 	// 	left: -10%

	
// 	0%  
// 		left: 0%